*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
  }
   
  body{
    background: #7ed6df;
    transition: 0.6s linear;
  }
   
  .product-card{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    background: #ecedef;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    border-radius: 20px;
  }
  .product-card h1{
    font-size: 22px;
    margin-bottom: 4px;
  }
  .product-card p{
    font-size: 13px;
    color: #bbb;
  }
  .product-pic{
    background-image: url("https://www.highsnobiety.com/static-assets/thumbor/vCiTeNM4ZZPSeAOvl2H1TGYeQZk=/fit-in/790x987/https://aaba6fc7dd05e6321705-d3c8e77fedf34b64ceac1fa28b6c145b.ssl.cf3.rackcdn.com/Phipps_PDP0052-X9yrbQbI.jpg");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .6s linear;
  }
  .product-colors{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
   
  .product-colors span{
    width: 14px;
    height: 14px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  .blue{
    background: #7ed6df;
  }
  .green{
    background: #badc58;
  }
  .yellow{
    background: #f9ca24;
  }
  .rose{
    background: #ff7979;
  }
   
  .product-colors .active:after{
    content: "";
    width: 22px;
    height: 22px;
    border: 2px solid #8888;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -4px;
    top: -4px;
  }
  .product-info{
    display: flex;
    align-items: center;
  }
  .product-price{
    color: #7ed6df;
    font-size: 26px;
  }
  .product-button{
    margin-left: auto;
    color: #7ed6df;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: .4s linear;
  }
   
  .product-button:hover{
    transform: scale(1.06);
  }